<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>'Esta é uma API simples feita com Flask e SQLite que permite cadastrar e listar livros doados.'</h1>
  <hr>
  <h2>Como usar api ?</h2>

  <ul>
    <li>1- (GET) /livros</li>
    <li>2- (POST) /doar</li>
  </ul>

  <img src="https://imgs.search.brave.com/tk-7BcgiV3tIedOh57ofl974PdkIGfEc3_G-f1FJsLg/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/YWRhemluZy5jb20v/d3AtY29udGVudC91/cGxvYWRzLzIwMjEv/MDQvZG9nLXJlYWRp/bmctYS1ib29rLTAx/LTEuanBn" alt="a a folou lendro um livro">
</body> 
</html>